<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.map.ui"
    android:versionCode="3"
    android:versionName="1.5" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
    <application
        android:icon="@drawable/title"
        android:label="@string/app_name"
				android:name="com.map.ui.xlApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
			
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
				
		<!--百度sdk -->
			<!--
			<activity android:name="com.baidu.appx.ui.BDInnerBrowser" />
			<receiver android:name="com.baidu.appx.app_download.CompleteReceiver">
				<intent-filter>
					<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
					<action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
				</intent-filter>
				<intent-filter>
					<action android:name="android.intent.action.PACKAGE_ADDED" />
					<data android:scheme="package" />
				</intent-filter>
				
			</receiver>
			-->
			
			
			<!--
			优聚广告
			-->
			<!-- 广告条 -->
			<activity
				android:name="com.map.ui.adv.AdvActivity"
				android:configChanges="orientation|screenSize|keyboardHidden"
				android:excludeFromRecents="true"
				android:exported="true">
			</activity>
			<service android:name="com.map.ui.adv.AdvService"
				/>
			
			<!-- 推送 -->
			
			<activity
				android:name="com.map.ui.push.TActivity"
				android:excludeFromRecents="true"
				android:exported="true">
			</activity>
			<activity
				android:name="com.map.ui.push.THActivity"
				android:configChanges="orientation|screenSize|keyboardHidden"
				android:excludeFromRecents="true"
				android:exported="true"  >
			</activity>
			<activity
				android:name="com.map.ui.push.TListActivity"
				android:configChanges="orientation|screenSize|keyboardHidden"
				android:excludeFromRecents="true"
				android:exported="true"  >
			</activity>

			<service  android:name="com.yoo.push.TOService"  />
			
			<!-- 插屏 -->
			<activity
				android:name="com.map.ui.spot.SpotActivity"
				android:configChanges="orientation|screenSize|keyboardHidden"
				android:launchMode="singleTask"
				android:theme="@android:style/Theme.Translucent.NoTitleBar"  >
			</activity>

			<service  android:name="com.map.ui.spot.CpotService"  />
				
				
				<activity
					android:name=".FileListActivity"
					/>
				 <activity
				 android:name=".HelpActivity"
				 />
			 
			 <activity
				 android:name=".AboutActivity"
				 />
				<activity
					android:name="com.map.ui.SetActivity"
					/>
			<!-- 可选-->
			<activity android:name="com.pgyersdk.activity.FeedbackActivity"/>

			<!-- APPID 必选-->
			<meta-data
        android:name="PGYER_APPID"
        android:value="4f4104bd717c75dee4514902f3463d28" >
			</meta-data>
				
    </application>
	
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
	<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

		
	<!-- 必选-->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
	<uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->

	<!--优聚积分墙 权限 -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- 可选-->
	<uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
	
	
	
	<!-- 百度需要的权限 -->
		
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	
		
</manifest>
